<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">

            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Guard Name" </h1>

        </div>
    </header>

    {{!-- Sheet Tabs --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="background">Background</a>
    </nav>

    {{!-- Background Tab --}}
    <section class="sheet-body">
        <div class="tab main flexrow" data-tab="main">
            <ul class="abilities">
                {{#each data.abilities as |abInfo key|}}
                <li class="ability-entry">
                    <h3 class="ability-title">{{abInfo.label}}</h4>
                        <div class="flexrow">
                            <input class="ability-value" type="number" name="data.abilities.{{key}}.value"
                                value="{{abInfo.value}}" data-dtype="Number" />
                            {{!-- Passes and Fails for the ability --}}
                            <div class="advancements flexcol">
                                <div class="flexrow">
                                    <span class="advancement-label">{{localize 'MOUSEGUARD.AdvancementPass'}}:</span>
                                    <input class="advancement-value" type="text" data-dtype="Number"
                                        value="{{abInfo.passes.value}}" />
                                    <span class="advancement-sep">/</span>
                                    <span class="advancement-total">{{abInfo.passes.total}}</span>
                                </div>
                                <div class="flexrow">
                                    <span class="advancement-label">{{localize 'MOUSEGUARD.AdvancementFail'}}:</span>
                                    <input class="advancement-value" type="text" data-dtype="Number"
                                        value="{{abInfo.fails.value}}" />
                                    <span class="advancement-sep">/</span>
                                    <span class="advancement-total">{{abInfo.fails.total}}</span>
                                </div>
                            </div>
                        </div>
                </li>
                {{/each}}
            </ul>
            <ul class="skills">
                {{#each data.skills as |skillInfo key|}}
                <li class="skill-entry">
                    <div class="flexrow">
                        <input class="skill-value" type="number" name="data.skills.{{key}}.value"
                            value="{{skillInfo.value}}" data-dtype="Number" />
                        <span class="skill-title">{{skillInfo.label}}</span>
                        {{!-- Passes and Fails for the skill --}}
                        <div class="advancements flexcol">
                            <div class="flexrow">
                                <span class="advancement-label-short">{{localize
                                    'MOUSEGUARD.AdvancementPassShort'}}:</span>
                                <input class="advancement-value" type="text" data-dtype="Number"
                                    value="{{skillInfo.passes.value}}" />
                                <span class="advancement-sep">/</span>
                                <span class="advancement-total">{{skillInfo.passes.total}}</span>
                            </div>
                            <div class="flexrow">
                                <span class="advancement-label-short">{{localize
                                    'MOUSEGUARD.AdvancementFailShort'}}:</span>
                                <input class="advancement-value" type="text" data-dtype="Number"
                                    value="{{skillInfo.fails.value}}" />
                                <span class="advancement-sep">/</span>
                                <span class="advancement-total">{{skillInfo.fails.total}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="tab background" data-tab="background">
            {{#each data.background as |bgInfo key|}}
            <div class="bio flexrow">
                <label for="data.background.{{key}}.value" class="resource-label">{{bgInfo.label}}: </label>
                <input class="background-input" type="text" name="data.background.{{key}}.value"
                    value="{{bgInfo.value}}" />
            </div>
            {{/each}}
        </div>
    </section>
</form>