// Add custom fonts by visiting and search https://fonts.google.com

@font-face {
  font-family: 'TiePoloStd-Book' ;
  src: url('../fonts/TiePoloStd/TiepoloStd-Book.otf');
}

@font-face {
  font-family: 'TiePoloStd-Black' ;
  src: url('../fonts/TiePoloStd/TiepoloStd-Black.otf');
}

@font-face {
  font-family: 'HobbyHorseNF';
  src: url('../fonts/hobbyhorse/HobbyHorseNF.otf');
}

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to boilerplate sheets */
.mouseguard {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}
